.cache/
.idea/
.vscode/
build/
lib/*.a
lib/*.so
cmake-build**/
demos/*/imgui.ini
demos/pbr/matballs
demos/pbr/inspector
demos/hello/hello
demos/emsc/emsc.**
tools/tomesh
tools/genenv
compile_commands.json
